[SddmGreeterTheme]
Name=Space Tacos
Description=Space Tacos SDDM Qylock Theme
Author=d_carve
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
